<%= stylesheet_link_tag 'pages/page_log_reg_v2.css' %>
<!--=== Content Part ===-->    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="reg-block-header">
            <h2><%= t(:signup) %></h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>
        </div>

        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :username, class: "form-control", html: {spellcheck: "false"}, placeholder: t(:reg_user) %>
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, class: "form-control", html: {spellcheck: "false"}, placeholder: t(:reg_email) %>
        </div>
        <div class="input-group margin-bottom-20">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, class: "form-control", html: {autocomplete: "off"}, placeholder: t(:reg_password) %>
        </div>
        <div class="input-group margin-bottom-30">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :password_confirmation, class: "form-control", html: {autocomplete: "off"}, placeholder: t(:reg_confirm_password) %>
        </div>
        <hr>

        <div class="checkbox">            
            <label>
                <input type="checkbox"> 
                <p><%= t(:reg_I_read) %><a target="_blank" href="page_terms.html"><%= t(:reg_terms_cond) %></a></p>
            </label>
        </div>
                                
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= f.submit t(:signup), class: "btn-u btn-block" %>
                <!-- <button type="submit" class="btn-u btn-block">Register</button> -->                
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
    <% end %>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

<%= javascript_include_tag 'plugins/countdown/jquery.countdown.js' %>
<%= javascript_include_tag 'plugins/backstretch/jquery.backstretch.min.js' %>

<script type="text/javascript">
    $.backstretch([
      "<%= image_path 'bg/5.jpg'%>",
      "<%= image_path 'bg/4.jpg'%>",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();      
    });
</script>

