<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      





      <div class="header">
          <!-- Topbar -->
          <div class="topbar">
              <div class="container">
                  <!-- Topbar Navigation -->

                  <ul class="loginbar pull-right">
                      <li class="languagesSelector">
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                      <li class="topbar-devider"></li>   
                      <li><a href="page_faq.html">Help</a></li>  
                      <li class="topbar-devider"></li>   
                      <% if defined?(Devise) %>
                        <% if user_signed_in? %>
                          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                          <li class="topbar-devider"></li>
                          <li><%= link_to "Cart", "#" %></li>
                          <li class="topbar-devider"></li>
                          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                        <% else %>
                          <li><%= link_to "Login", new_user_session_path %></li>
                          <li class="topbar-devider"></li>
                          <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <% end %>
                      <% end %>
                  </ul>
                  <!-- End Topbar Navigation -->
              </div>
          </div>
          <!-- End Topbar -->
      
          <!-- Navbar -->
          <div class="navbar navbar-default" role="navigation">
              <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <%= link_to (image_tag "logo_v2.png"), defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
                    </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse navbar-responsive-collapse">
                      <ul class="nav navbar-nav">
                          <!-- Home -->
                          <li class="dropdown active">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Home
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Latest Posts</a></li>
                                  <li><a href="#">New Stories</a></li>                                
                                  <li><a href="#">Recent Updates</a></li>
                              </ul>
                          </li>
                          <!-- End Home -->

                          <!-- Pages -->                        
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Discover
                              </a>
                              <ul class="dropdown-menu">
                                  <!-- About Us -->
                                  <li><a href="#">About Us</a></li>
                                  <!-- End About Us -->

                                  <!-- Our Mission -->
                                  <li><a href="#">Our Mission</a></li>
                                  <!-- End Our Mission -->

                                  <!-- Our History -->
                                  <li><a href="#">Our History</a></li>
                                  <!-- End Our History -->

                              </ul>
                          </li>
                          <!-- End Pages -->

                          <!-- Gallery -->
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Media
                              </a>
                              <ul class="dropdown-menu">
                                  <!-- Sub Level Menu --
                                  <li class="dropdown-submenu">
                                      <a href="javascript:void(0);">Sub Level 1</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="index.hmtl">Sub Level 2</a></li>
                                          <li class="dropdown-submenu">
                                              <a href="javascript:void(0);">Sub Level 2</a>
                                              <ul class="dropdown-menu">
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                              </ul>                                
                                          </li>
                                          <li><a href="index.hmtl">Sub Level 2</a></li>
                                          <li class="dropdown-submenu">
                                              <a href="javascript:void(0);">Sub Level 2</a>
                                              <ul class="dropdown-menu">
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                                  <li><a href="index.hmtl">Sub Level 3</a></li>
                                              </ul>                                
                                          </li>
                                      </ul>                                
                                  </li>                            
                                  <!-- End Sub Level Menu -->


                                  <!-- Pictures -->
                                  <li><a href="#">Gallery</a></li>
                                  <!-- End Pictures -->

                                  <!-- Word Wall -->
                                  <li><a href="#">Word Wall</a></li>
                                  <!-- End Word Wall -->

                                  <!-- Videos -->
                                  <li><a href="#">Videos</a></li>
                                  <!-- End Videos -->
                              </ul>
                          </li>
                          <!-- End Features -->

                          <!-- Store -->
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Store
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="#">Browse</a></li>
                                  <li><a href="#">Deals</a></li>
                                  <li><a href="#">Order History</a></li>
                              </ul>
                          </li>
                          <!-- Ens Portfolio -->

                          <!-- Blog -->
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Blog
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="blog_page.html">Browse</a></li>
                                  <li><a href="blog_large.html">Timeline</a></li>
                                  <li><a href="blog_medium.html">Events</a></li>
                              </ul>
                          </li>
                          <!-- End Blog -->

                          <!-- Contact Us -->
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Contact Us
                              </a>
                              <ul class="dropdown-menu">
                                  <li><a href="page_contact1.html">Contacts Default</a></li>
                                  <li><a href="page_contact2.html">Contacts Option 1</a></li>
                                  <li><a href="page_contact3.html">Contacts Option 2</a></li>
                              </ul>
                          </li>                    
                          <!-- End Contacts -->

                          <!-- Search Block --
                          <li>
                              <i class="search fa fa-search search-btn"></i>
                              <div class="search-open">
                                  <div class="input-group animated fadeInDown">
                                      <input type="text" class="form-control" placeholder="Search">
                                      <span class="input-group-btn">
                                          <button class="btn-u" type="button">Go</button>
                                      </span>
                                  </div>
                              </div>    
                          </li>
                          <!-- End Search Block -->
                      </ul>
                  </div><!--/navbar-collapse-->
              </div>    
          </div>            
          <!-- End Navbar -->
      </div>
      <!--=== End Header ===-->  






    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
