<!-- <div class="row blog blog-medium margin-bottom-40">
    <div class="col-md-5">
        <%= image_tag "article_pics/20.jpg", class: "img-responsive" %>
       
    </div>    
    <div class="col-md-7">
        <h2><a href="#">Pellentesque Habitant Morbi Tristique</a></h2>
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> November 02, 2013</li>
            <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li>
            <li><i class="fa fa-tags"></i> Technology, Internet</li>
        </ul>
        <p>At vero eos et accusamus et iusto odiomolestias dignis simos ducimus qui blandit occaeca bais praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
        <p><a class="btn-u btn-u-sm" href="blog_item.html">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
    </div>    
</div>
 -->

<div class="row blog blog-medium margin-bottom-40">
    <div class="col-md-5">
		<%= image_tag article_listing.pic.url(:medium), class: "img-responsive" %>
    </div>
    <div class="col-md-7">
    	<h2><%= link_to article_listing.title, "#{}" %></h2>
    	<ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i><%= " " + article_listing.created_at.strftime("%d %b. %Y") %></li>
            <!-- <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li> -->
            <!-- <li><i class="fa fa-tags"></i> Technology, Internet</li> -->
        </ul>
        <p><%= article_listing.content[0...350] + "... " %></p>
        <p><a class="btn-u btn-u-sm" href="/articles/<%= article_listing.id %>">Read More <i class="fa fa-angle-double-right margin-left-5"></i></a></p>
    </div>
</div>
<hr class="margin-bottom-40">