
<div class="row blog blog-medium margin-bottom-40">
    <div class="col-md-5">
		<%= image_tag article_listing.pic.url(:medium), class: "img-responsive" %>
    </div>
    <div class="col-md-7">
    	<h2><%= link_to article_listing.title, "#{}" %></h2>
    	<ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i><%= " " + article_listing.created_at.strftime("%d %b. %Y") %></li>
            <!-- <li><i class="fa fa-comments"></i> <a href="#">24 Comments</a></li> -->
            <!-- <li><i class="fa fa-tags"></i> Technology, Internet</li> -->
        </ul>
        <!-- <p><%= article_listing.content[0...350] + "... " %></p> -->
        <div><%= creole_article_preview(article_listing.content[0...350] + "...") %></div>
        <p><a class="btn-u btn-u-sm" href="/articles/<%= article_listing.id %>"><%= t('.read_more')%><i class="fa fa-angle-double-right margin-left-5"></i></a></p>
    </div>
</div>
<hr class="margin-bottom-40">