<%= link_to t('.new', :default => t("helpers.links.new")),
            new_article_path,
            :class => 'btn btn-primary' %> -->


 <% stylesheet_link_tag "pages/blog.css"%>
 <!--=== Breadcrumbs ===-->
 <div class="breadcrumbs">
     <div class="container">
         <h1 class="pull-left"><%= t('.title')%></h1>
         <ul class="pull-right breadcrumb">
             <li><%= link_to t(:home), root_path %></li>
             <li class="active"><%= t('.title')%></li>
         </ul>
     </div>
 </div><!--/breadcrumbs-->
 <!--=== End Breadcrumbs ===-->
 <div class="wrapper">
    

    

    <!--=== Content Part ===-->
    <div class="container content">   

    <% if @user %>
        <%if @user.superadmin? %>
            <div class="btn-group">
               <!--  <button type="button" class="btn-u"><%= link_to "Add New", new_article_path %></button> -->
                <%= link_to t('.new', :default => t("helpers.links.new")),
                new_article_path,
                :class => 'btn-u' %>
            </div>
        <% end %>
    <% end %>
      <div class="row blog-page">    
            <!-- Left Sidebar -->
          <div class="col-md-9 md-margin-bottom-40">
              


                    <%= render :partial => 'article_listing', :collection => @articles %>

                <div class="text-center">
                    <%= paginate @articles, :window => 2 %>
                </div>
            </div>
            <!-- End Left Sidebar -->

            <!-- Right Sidebar -->
          <div class="col-md-3">
                <!-- Social Icons -->
                <div class="magazine-sb-social margin-bottom-30">
                    <div class="headline headline-md"><h2><%= t('.social')%></h2></div>
                    <ul class="social-icons social-icons-color">
                        <li><a class="social_rss" data-original-title="Feed" href="#"></a></li>
                        <li><a class="social_facebook" data-original-title="Facebook" href="#"></a></li>
                        <li><a class="social_twitter" data-original-title="Twitter" href="#"></a></li>
                        <li><a class="social_vimeo" data-original-title="Vimeo" href="#"></a></li>
                        <li><a class="social_googleplus" data-original-title="Goole Plus" href="#"></a></li>
                        <li><a class="social_pintrest" data-original-title="Pinterest" href="#"></a></li>
                        <li><a class="social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                        <li><a class="social_dropbox" data-original-title="Dropbox" href="#"></a></li>
                        <li><a class="social_picasa" data-original-title="Picasa" href="#"></a></li>
                        <li><a class="social_spotify" data-original-title="Spotify" href="#"></a></li>
                        <li><a class="social_jolicloud" data-original-title="Jolicloud" href="#"></a></li>
                        <li><a class="social_wordpress" data-original-title="Wordpress" href="#"></a></li>
                        <li><a class="social_github" data-original-title="Github" href="#"></a></li>
                        <li><a class="social_xing" data-original-title="Xing" href="#"></a></li>
                    </ul>
                    <div class="clearfix"></div>                
                </div>
                <!-- End Social Icons -->

                <!-- Posts -->
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2><%= t('.recent_posts')%></h2></div>
                    <dl class="dl-horizontal">
                        <dt><%= link_to image_tag("sliders/elastislide/6.jpg"), "#" %></dt>
                        <dd>
                            <p><a href="#">Responsive Bootstrap 3 Template placerat idelo alac eratamet.</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><%= link_to image_tag("sliders/elastislide/10.jpg"), "#" %></dt>
                        <dd>
                            <p><a href="#">100+ Amazing Features Layer Slider, Layer Slider, Icons, 60+ Pages etc.</a></p> 
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt><%= link_to image_tag("sliders/elastislide/11.jpg"), "#" %></dt>
                        <dd>
                            <p><a href="#">Developer Friendly Code imperdiet condime ntumi mperdiet condim.</a></p> 
                        </dd>
                    </dl>
                </div><!--/posts-->
                <!-- End Posts -->

              <!-- Tabs Widget
              <div class="headline headline-md"><h2>Tabs Widget</h2></div>
                <div class="tab-v2 margin-bottom-40">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home-1">About Us</a></li>
                        <li><a data-toggle="tab" href="#home-2">Quick Links</a></li>
                    </ul>                
                    <div class="tab-content">
                        <div id="home-1" class="tab-pane active">
                            <p>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac ac adipiscing nunc.</p> <p>Pellentesque fermentum, ante ac felis consectetur id. Donec eget orci metusvivamus imperdiet.</p>                        
                        </div>
                        <div id="home-2" class="tab-pane magazine-sb-categories">
                            <div class="row">
                                <ul class="list-unstyled col-xs-6">
                                    <li><a href="#">Best Sliders</a></li>
                                    <li><a href="#">Parralax Page</a></li>
                                    <li><a href="#">Backgrounds</a></li>
                                    <li><a href="#">Parralax Slider</a></li>
                                    <li><a href="#">Responsive</a></li>
                                    <li><a href="#">800+ Icons</a></li>
                                </ul>                        
                                <ul class="list-unstyled col-xs-6">
                                    <li><a href="#">60+ Pages</a></li>
                                    <li><a href="#">Layer Slider</a></li>
                                    <li><a href="#">Bootstrap 3</a></li>
                                    <li><a href="#">Fixed Header</a></li>
                                    <li><a href="#">Best Template</a></li>
                                    <li><a href="#">And Many More</a></li>
                                </ul>  
                                             
                            </div> </div>
                    </div>
                </div>            
                End Tabs Widget -->

              <!-- Photo Stream -->
              <div class="headline headline-md"><h2><%= t('.photo')%></h2></div>
                <ul class="list-unstyled blog-photos margin-bottom-30">
                    <li><%= link_to image_tag("sliders/elastislide/5.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/6.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/8.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/10.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/11.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/1.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/2.jpg" , class: "hover-effect"), "#" %></li>
                    <li><%= link_to image_tag("sliders/elastislide/7.jpg", class: "hover-effect"), "#" %></li>
                </ul>
                <!-- End Photo Stream -->
            </div>
            <!-- End Right Sidebar -->
        </div><!--/row-->        
    </div><!--/container-->   
    <!--=== End Content Part ===-->

    
</div><!--/wrapper -->

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();      
    });
</script>